$breakpoints: (
	xs-phone: 480px,
	phone: 640px,
	tablet: 768px,
	desktop: 992px,
	widescreen: 1230px,
	widescreen2: 1600px
);
 
// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';

@include media('>=xs-phone'){
	.hero-area{
		&.style2{
			.align-holder{
				.align{
					text-align: left;
					width: 100%;
					max-width: 100%;
				}
			}
		}
		.aligncenter{ margin-bottom: -50px; }
		.align-holder{
			text-align: center;
			.align{
				text-align: center;
				max-width: 100%;
				padding: 30px 0;
			}
		}
	}
	.facts-list{
		text-align: left;
		li{
			padding: 0 20px 0 0;
			margin: 0 0 15px 20px;
			@include vertical(inline-block, top);
			&:after{ display: block; }
		}
		h3{
			font-size: 19px;
			line-height: 23px;
		}
		.text-block{ font-size: 11px; }
	}
	.testimonials-gallery{
		.testimonials-mask{
			&.slick-active {
				z-index: 1;
				opacity: 1;
			}
			br{ display: none;}
		}
		.testimonials-slide{ padding: 0 20px; }
	}
	.price-col{
		&.version-iii{
			padding-bottom: 80px;
			.btn,
			.btn-info{
				position: absolute;
				left: 50%;
				bottom: 32px;
				width: 170px;
				transform: translateX(-50%);
			}
		}
	}
	.screen-gallery{
		.screen-prev,
		.screen-next{ display: block; }
	}
}

@include media('>=phone'){
	.hero-area{
		.aligncenter{
			margin-bottom: -50px;
			max-width: 447px;
		}
	}
	.features-list{
		li{
			@include vertical(inline-block, top);
			width: 50%;
		}
	}
	.testimonials-gallery{
		.testimonials-slide { padding: 0 50px; }
		.slick-prev.slick-arrow,
		.slick-next.slick-arrow{ margin: -35px 0 0 -250px; }
		.slick-next.slick-arrow{ margin: -35px -249px 0 0; }
	}
	.video-block{ min-height: 250px; }
	.trial-block{
		.alignleft{ width: 300px; }
	}
	.features{
		padding: 0 0 0 54px;
		li{
			width: 50%;
			float: left;
			padding: 0 70px 0 0;
			&:nth-child(even){
				float: right;
				padding: 0 0 0 70px;
			}
		}
	}
	.screen-gallery{
		.screen-mask{ width: 190px; }
		.screen-prev,
		.screen-next{ margin: 0 0 0 -225px; }
		.screen-next{ margin: 0 -225px 0 0; }
	}
	.subscribe-form{
		padding-right: 67px;
		.form-control{
			padding: 16px 24px;
			height: 60px;
		}
		.btn{ @include size(67px, 60px); }
	}
}

@include media('>=tablet'){
	.mar-tmd{margin-top: 60px !important;}
	.mar-lmd{margin-left: 60px !important;}
	.pad-tmd{padding-top: 60px !important;}
	.pad-lmd{padding-left: 60px !important;}
	.mar-rmd{margin-right: 60px !important;}
	.pad-rmd{padding-right: 60px !important;}
	.mar-bmd{margin-bottom: 60px !important;}
	.pad-bmd{padding-bottom: 60px !important;}
	.mar-tlg{margin-top: 95px !important;}
	.mar-llg{margin-left: 95px !important;}
	.pad-tlg{padding-top: 95px !important;}
	.pad-llg{padding-left: 95px !important;}
	.mar-rlg{margin-right: 95px !important;}
	.pad-rlg{padding-right: 95px !important;}
	.mar-blg{margin-bottom: 95px !important;}
	.pad-blg{padding-bottom: 95px !important;}
	h1{
		font-size: 60px;
		line-height: 60px;
	}
	#header{
		.mt-holder{padding-bottom: 0;}
		.icon-menu{
			margin: 13px 0 0 26px;
			padding: 0;
			background: none;
		}
		&.style2{
			border-bottom: 0;
			.mt-holder{padding-top: 30px;}
			.logo{
				float: none;
				margin: 0 auto;
				display: block;
			}
		}
	}
	.logo{
		.version-ii{ padding: 6px 0 0; }
	}
	.navbar-default{
		padding: 7px 0 0;
		margin: 0;
		@include pseudo(before, auto, 0, 0, 0);
		&.version-ii,
		&.version-iii,
		&.version-iv{
			padding: 0;
			&:before{ display: none; }
			.navbar-collapse{ float: right; }
			.navbar-nav{
				padding: 10px 0 0;
				> li{
					margin: 0 0 0 15px;
					>a{ 
						color: $white;
						&:after{
							border-color: $white;
							.sticky-header.sticky &{border-color: $gray-darker;}
						}
						.sticky-header.sticky &{color: $gray-darker;}
					}
				}
			}
		}
		&.style2{
			float: none;
			width: 100%;
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid rgba(255,255,255,0.7);
			.navbar-nav{
				float: none;
				text-align: center;
				> li{
					padding: 0 0 12px;
					>a{
						color: $white;
						&:after{
							border-color: $white;
							.sticky-header.sticky &{border-color: $gray-darker;}
						}
						.sticky-header.sticky &{color: $gray-darker;}
					}
				}
			}
		}
		&.style3{
			float: none;
			width: 100%;
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid rgba(255,255,255,0.7);
			.navbar-nav{
				float: left;
				> li{
					padding: 0 0 12px;
					>a{
						color: $white;
						&:after{
							border-color: $white;
							.sticky-header.sticky &{border-color: $gray-darker;}
						}
						.sticky-header.sticky &{color: $gray-darker;}
					}
				}
			}
		}
		.btn,
		.btn-default,
		.btn-white{
			margin: 0 0 0 20px;
			padding: 10px 15px;
			font-size: 13px;
			line-height: 16px;
			min-width: 120px;
		}
		.navbar-collapse{
			position: static;
			background: none;
		}
		.navbar-nav{
			text-align: right;
			> li{
				margin: 0 0 0 17px;
				padding: 0 0 20px;
				float: none;
				@include vertical(inline-block, middle);
				> a{
					display: inline;
					padding: 0;
				}
			}
		}
	}
	.main-nav{
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		visible: hidden;
		transform: translateX(100%);
		transition: all 0.25s linear;
	}
	.nav-active{
		.main-nav{
			opacity: 1;
			visible: visible;
			transform: translateX(0);
		}
	}
	.iphone{
		float: right;
		@include size(277px, 477px);
		padding: 84px 51px;
	}
	.hero-area{
		padding: 96px 0 0;
		h1{
			font-size: 28px;
			line-height: 40px;
		}
		p{ margin: 0 0 54px; }
		&.style1{
			h1{
				font-size: 35px;
				line-height: 37px;
			}
		}
		&.style2{
			padding: 0;
			h1{
				font-size: 28px;
				line-height: 35px;
			}
			.align-holder{
				.align{
					max-width: 100%;
					width: 100%;
					padding: 109px 65px 72px 0;
				}
			}
		}
		.tick-list{ margin: 0 0 51px; }
		.icon-play{ @include size(76px); }
		.btn,
		.btn-info{
			width: 215px;
			margin: 0 31px 0 0;
			padding: 18px 10px 16px;
			font-size: 14px;
			line-height: 18px;
		}
		.iphone{
			margin: 0 -23px -84px 0;
			position: absolute;
			right: 0;
			bottom: 0;
		}
		.align-holder{
			text-align: left;
			min-height: calc(617px - 96px);
			.align{
				max-width: 565px;
				padding: 35px 0;
				text-align: left;
			}
		}
	}
	.btns-list{
		li{
			@include vertical(inline-block, top);
			margin: 0 12px 12px 0;
			max-width: none;
		}
	}
	.map{
		min-height: 302px;
		img{ min-height: inherit; }
	}
	.aside{
		padding-top: 45px;
		.col{ margin-bottom: 0; }
	}
	#footer{
		margin-top: 0;
		text-align: center;
	}
	.features-area{
		&.style1{
			padding-top: 70px;
			&:before{ height: 68px; }
		}
		.iphone{
			float: none;
			position: absolute;
			left: 50%;
			bottom: 0;
			margin: 0 0 -108px;
			transform: translateX(-50%);
		}
		.block-heading{
			margin-bottom: 45px;
			padding-left: 70px;
		}
		.features-list{
			&.features-list2{
				li{ margin: 0 0 41px; }
			}
		}
	}
	.product-features{
		&.version-iv{
			.extra{ margin-bottom: 41px; }
			.descr{
				.align{
					margin: 0 0 0 -5px;
					padding: 0 0 21px;
				}
			}
			.descr.pull-right{
				.align{ padding: 32px 30px 20px 60px; }
			}
		}
		&.style2{
			.img-holder{
				position: static;
				margin: 0;
			}
		}
		.col{ margin-bottom: 0; }
		.descr{
			@include v-align(inherit, middle, before);
			text-align: left;
			.align{
				text-align: left;
				margin: 0 0 0 -5px;
				padding: 30px 0 0;
			}
		}
		.img-holder{ max-width: 470px; }
		.alignright{ text-align: right; }
	}
	.testimonials{
		blockquote{
			font-size: 18px;
			line-height: 32px;
		}
	}
	.testimonials-gallery{
		.slick-prev.slick-arrow,
		.slick-next.slick-arrow{ margin: -35px 0 0 -306px; }
		.slick-next.slick-arrow{ margin: -35px -305px 0 0; }
	}
	.video-block{ min-height: 300px; }
	.price-offers{
		&.version-iii{ padding-top: 80px;
		}
		&.version-iv{ padding-top: 40px; }
	}
	.trial-block{
		.alignleft{
			float: left;
			width: 50%;
			max-width: 665px;
			box-shadow: 0 0 36px rgba($gray-base, 0.19);
		}
	}
	.block-heading{
		h2{
			font-size: 25px;
			line-height: 29px;
			&:before{
				font-size: 70px;
				line-height: 20px;
			}
		}
		.subtitle{
			font-size: 18px;
			line-height: 21px;
		}
	}
	.area-about{
		.alignright{
			max-width: none;
			clear: none;
		}
		.alignleft{
			max-width: none;
			clear: none;
		}
		.descr{
			margin-bottom: 0;
			@include v-align(inherit, middle, before);
			text-align: left;
			.align{
				padding: 0 0 0 40px;
				text-align: left;
				padding: 55px 0 30px 40px;
			}
		}
	}
	.screenshots-area{
		padding-bottom: 80px;
		.btn,
		.btn-info{ padding: 14px 15px; }
	}
	.screen-gallery{
		.screen-mask{ width: 220px; }
		.screen-prev,
		.screen-next{ margin: 8px 0 0 -295px; }
		.screen-next{ margin: 8px -295px 0 0; }
	}
	.map-block{
		padding: 0;
		.map{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;
		}
		.align-holder{
			min-height: 310px;
			@include v-align(inherit, bottom, before);
			padding: 0 6.7%;
		}
	}
	.message-form{
		box-shadow: 0 0 49px rgba($gray-base, 0.15);
		.form-row{
			float: left;
			width: calc(100% - 144px);
		}
		.form-group{
			@include vertical(inline-block, top);
			margin: 0 0 25px;
			width: 26.5%;
			+ .form-group{ margin-left: 24px; }
			&.message-area{ width: 32%; }
		}
		.btn{ margin: -9px 0 0; }
	}
	.quotes-blocks{
		padding-top: 64px;
		padding-bottom: 47px;
	}
	.screenshots-area{ padding-bottom: 130px; }
	.area-about{
		.alignright{
			.scaled{
				bottom: 117px;
				margin: 0 -112px 0 0;
			}
		}
	}
}

@include media('>=desktop'){
	h1{
		font-size: 80px;
		line-height: 80px;
	}
	#header{
		.mt-holder{padding-top: 36px;}
		&.version-ii,
		&.version-iii,
		&.version-iv{
			.mt-holder{padding-top: 44px;}
			&.sticky{
				.mt-holder{padding-top: 10px;}
			}
		}
		&.sticky{
			.mt-holder{padding-top: 10px;}
			.navbar-default .navbar-nav > li{padding: 0 0 10px;}
			&.style2{
				transform: translateY(-80px);
				-webkit-transform: translateY(-80px);
			}
		}
	}
	.logo{
		.version-ii{ padding: 0; }
	}
	.navbar-default{
		&.version-ii,
		&.version-iii,
		&.version-iv{
			.navbar-nav{
				> li{ padding: 0 0 20px; }
			}
		}
		.btn,
		.btn-default,
		.btn-white{
			min-width: 150px;
			margin: 0 0 8px 35px;
		}
		.navbar-nav{
			> li{ padding: 0 0 32px; }
		}
	}
	.iphone{
		padding: 109px 51px;
		@include size(357px, 668px);
	}
	.hero-area{
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 110px;
		h1{
			font-size: 38px;
			line-height: 50px;
		}
		.align-holder{
			.align{
				max-width: 572px;
				margin: 0 0 0 -21px;
				padding: 123px 0 176px;
			}
		}
		&.style1{
			font-size: 16px;
			line-height: 28px;
			margin-bottom: 60px;
			.container{ padding-top: 35px; }
			h1{
				font-size: 40px;
				line-height: 42px;
				.text-small{
					font-size: 20px;
					line-height: 38px;
				}
			}
		}
		&.style2{
			font-size: 16px;
			line-height: 30px;
			h1{
				font-size: 31px;
				line-height: 44px;
			}
			.align-holder{
				min-height: 667px;
				.align{
					max-width: 100%;
					width: 100%;
				}
			}
		}
		.left-col{
			&:before{ right: 0; }
			.align-holder{
				float: right;
				width: 100%;
				max-width: 578px;
			}
		}
		.iphone{ margin: 0 -23px -110px 0; }
		.aligncenter{
			margin-bottom: -49px;
			max-width: 639px;
		}
	}
	.btn-apple,
	.btn-android{
		font-size: 15px;
		line-height: 18px;
		.text-light{
			font-size: 13px;
			line-height: 15px;
		}
	}
	.aside{ padding-top: 65px; }
	#footer{ margin-top: 0; }
	.heading-wrap{
		h2{
			font-size: 28px;
			line-height: 38px;
		}
	}
	.features-area{
		padding-top: 59px;
		&.style1{
			margin-bottom: 90px;
			padding-top: 140px;
			padding-bottom: 68px;
			&:before{ height: 118px; }
		}
		&.style2{
			padding-top: 93px;
			padding-bottom: 36px;
			.heading-wrap{ margin-bottom: 36px; }
		}
		.block-heading{ margin-bottom: 60px; }
		.heading-wrap{ margin-bottom: 76px; }
		.aligncenter{ margin: 0 0 50px; }
	}
	.features-list{
		li{
			width: 33.333%;
			margin: 0 0 51px;
		}
	}
	.product-features{
		padding-bottom: 63px;
		&.version-iv{
			line-height: 32px;
			padding-bottom: 63px;
			padding-top: 98px;
			.extra{ margin-bottom: 81px; }
			.descr{ .align{ padding: 0 0 21px; } }
			.descr.pull-right{ .align{ padding: 32px 30px 20px 60px; } }
			h2{ margin: 0 0 32px; }
			.mt-heading2{ margin: 0 0 5px; }
		}
		h2{
			font-size: 28px;
			line-height: 38px;
			margin: 0 0 36px;
		}
		.descr{ .align{ padding: 56px 0 0; } }
		.img-holder{ max-width: 651px; }
	}
	.facts-list{
		padding: 30px 2px;
		li{
			padding: 0 28px 0 0;
			margin: 0 0 15px 28px;
		}
		h3{
			font-size: 24px;
			line-height: 28px;
		}
		.text-block{ font-size: 14px; }
	}
	.demo-block{
		ul{
			padding: 26px 0;
			text-align: right;
			li{ margin: 0 0 10px 30px; }
		}
	}
	.testimonials{
		padding-top: 48px;
		padding-bottom: 50px;
		.heading-wrap{ margin-bottom: 41px; }
		.aligncenter{ max-width: 100%; }
	}
	.testimonials-gallery{
		.slick-prev.slick-arrow,
		.slick-next.slick-arrow{ margin: -35px 0 0 -426px; }
		.slick-next.slick-arrow{ margin: -35px -425px 0 0; }
	}
	.video-block{
		min-height: 340px;
		.ico-play{ font-size: 58px; }
	}
	.price-offers{
		padding-top: 47px;
		&.version-iii{
			padding-top: 80px;
			padding-bottom: 60px;
		}
		&.version-iv{
			padding-top: 40px;
			padding-bottom: 60px;
		}
		.block-heading{ margin-bottom: 68px; }
	}
	.price-col{
		&.over,
		.over{
			&:hover,
			&.active{
				margin-top: -12px;
				padding-bottom: 41px;
				.title{ margin-bottom: 12px; }
			}
		}
		ul{
			li{
				&:before{ left: 7.5%; }
			}
		}
	}
	.trial-block{
		line-height: 32px;
		padding-top: 71px;
		.alignleft{
			margin: 0 84px 0 -87px;
			box-shadow: 11px 11px 76px rgba($gray-base, 0.19);
		}
		.heading-wrap h2,
		h2{ margin: 0 0 36px; }
		p{ margin: 0 0 42px; }
	}
	.brands-area{ padding-top: 55px; }
	.block-heading{
		h2{
			font-size: 30px;
			line-height: 38px;
			&:before{
				font-size: 110px;
				line-height: 38px;
				margin: -15px 0 0 -66px;
			}
		}
	}
	.area-about{
		line-height: 32px;
		padding-bottom: 219px;
		&.extra{
			line-height: 32px;
			padding-top: 70px;
			padding-bottom: 70px;
			.block-heading{ margin: 0 0 26px; }
			.descr{ .align{ padding: 40px 0 30px 38px; } }
		}
		.block-heading{ margin: 0 0 35px; }
		.descr{ .align{ padding: 55px 0 30px 26px; } }
	}
	.features{
		li{
			padding: 0 20% 0 0;
			margin: 0 0 41px;
			&:nth-child(even){ padding: 0 0 0 21.6%; }
		}
		h3{
			font-size: 20px;
			line-height: 24px;
		}
	}
	.screenshots-area{
		.heading-wrap{ margin-bottom: 110px; }
		.block-heading{ margin-bottom: 57px; }
	}
	.screen-gallery{
		.screen-mask{ width: 300px; }
		.screen-prev,
		.screen-next{ margin: 8px 0 0 -405px; }
		.screen-next{ margin: 8px -405px 0 0; }
	}
	.map-block{
		.align-holder{ min-height: 400px; }
	}
	.message-form{
		padding: 22px 35px 0;
		.heading-head{
			&:before{ display: block; }
		}
		.form-row{ width: calc(100% - 187px); }
		.form-group{
			&.message-area{ width: 34%; }
		}
		.btn{
			font-size: 13px;
			line-height: 16px;
			width: 174px;
		}
	}
	.tick-list{
		font-size: 18px;
		line-height: 21px;
	}
	.quotes-blocks{
		padding-top: 84px;
		padding-bottom: 67px;
	}
	.form-block{ padding-bottom: 66px; }
	.area-about{
		.alignright{
			.scaled{ bottom: 34px; }
		}
	}
}

@include media('>=widescreen'){
	h1{
		font-size: 100px;
		line-height: 100px;
	}
	.navbar-default{
		&.version-ii,
		&.version-iii,
		&.version-iv{
			.navbar-nav{
				> li{ margin: 0 0 0 26px; }
			}
		}
		.navbar-nav{
			> li{ margin: 0 0 0 30px; }
		}
	}
	.hero-area{
		h1{
			font-size: 48px;
			line-height: 60px;
		}
		&.style1{
			.container{ padding-top: 87px; }
			h1{
				font-size: 48px;
				line-height: 50px;
			}
		}
		&.style2{
			h1{
				font-size: 38px;
				line-height: 50px;
			}
			.align-holder{ min-height: 758px; }
		}
		.icon-play{ margin: 28px 0 0 24px; }
		.heading-holder{ margin-bottom: 100px; }
		.aligncenter{
			margin-bottom: -50px;
			max-width: 769px;
		}
	}
	.btn-apple,
	.btn-android{
		font-size: 18px;
		line-height: 21px;
	}
	.aside{
		padding-top: 85px;
		font-size: 15px;
		line-height: 28px;
	}
	#footer{
		font-size: 14px;
		line-height: 18px;
		&.style1{
			padding-top: 77px;
			.aside{
				padding-top: 0;
				font-size: 14px;
			}
		}
	}
	.features-area{
		padding-bottom: 22px;
		&.style1{ padding-bottom: 68px; }
		.block-heading{ margin-bottom: 97px; }
		.aligncenter{ margin: 0 0 98px; }
	}
	.product-features{
		&.version-iv{
			.extra{ margin-bottom: 111px; }
		}
	}
	.demo-block{
		h2{
			font-size: 24px;
			line-height: 28px;
		}
	}
	.testimonials{
		padding-top: 68px;
		padding-bottom: 80px;
		.aligncenter{ margin-bottom: 52px; }
	}
	.testimonials-gallery{
		margin-bottom: 50px;
		.slick-prev.slick-arrow,
		.slick-next.slick-arrow{ margin: -35px 0 0 -566px; }
		.slick-next.slick-arrow{ margin: -35px -565px 0 0; }
	}
	.video-block{ min-height: 432px; }
	.price-offers{
		padding-top: 67px;
		&.version-iii{
			padding-top: 114px;
			padding-bottom: 99px;
		}
		&.version-iv{
			padding-top: 80px;
			padding-bottom: 99px;
		}
		.heading-wrap{ margin-bottom: 71px; }
	}
	.trial-block{
		.alignleft{
			margin: 0 104px 0 -197px;
			max-width: 665px;
			width: 55.5%;
		}
		.descr{
			min-height: 461px;
			@include v-align(inherit, middle, before);
			text-align: left;
			.align{
				padding: 30px 10px 40px 0;
				text-align: left;
				margin: 0 0 0 -4px;
			}
		}
	}
	.brands-area{ padding-top: 81px; }
	.screen-gallery {
		.slide-holder{
			transform: perspective(1500px) translateX(4%) rotateY(-23deg) scaleY(0.85);
			-webkit-transform: perspective(1500px) translateX(4%) rotateY(-23deg) scaleY(0.85);
		}
		.slick-center .slide-holder{
			transform: perspective(1500px) translateX(0px) rotateY(0deg);
			-webkit-transform: perspective(1500px) translateX(0px) rotateY(0deg);
		}
		.slick-center + .slick-active .slide-holder{
			transform: perspective(1500px) translateX(-4%) rotateY(23deg) scaleY(0.85);
			-webkit-transform: perspective(1500px) translateX(-4%) rotateY(23deg) scaleY(0.85);
		}
	}
	.area-about{
		&.extra{
			padding-top: 130px;
			padding-bottom: 130px;
			p{ margin: 0 0 43px; }
		}
		.alignright{
			padding-left: 19px;
			.scaled{
				transform: scale(0.79);
				margin: 0 -127px -32px 0;
			}
		}
		.alignleft{
			padding-right: 4.5%;
			.scaled{
				transform: scale(0.79);
				margin: 0 0 -32px -75px;
			}
		}
	}
	.screen-gallery{
		.screen-mask{ width: 372px; }
		.screen-prev,
		.screen-next{ margin: 8px 0 0 -502px; }
		.screen-next{ margin: 8px -502px 0 0; }
	}
	.map-block{
		.align-holder{ min-height: 521px; }
	}
	.message-form{
		.form-group{
			&.message-area{ width: 39%; }
		}
	}
	.form-block{ padding-bottom: 96px; }
	.iphone{ width: 357px; }
}

@include media('>=widescreen2'){
	.hero-area{
		.icon-play{
			margin: 28px 0 0 354px;
			left: 0;
			transform: translate(0, -50%);
		}
	}
}

@media (max-width: 1600px) {
	body.boxed-v #wrapper {
		max-width: 95%;
    	margin: 20px auto;
	}
}
@media (max-width: 1500px) {
	body.boxed-v #wrapper { max-width: 100%; }
}

@include media('<desktop'){
	.features-list{
		&.features-list2{
			li{ width: 33.3%; }
		}
	}
}

@include media('<tablet'){
	.product-features{
		.sameheight{
			min-height: 1px !important;
			height: auto !important;
		}
	}
	.area-about{
		.alignright,
		.alignleft{ float: none; }
		.sameheight{
			min-height: 1px !important;
			height: auto !important;
		}
	}
	.screen-gallery{
		max-width: 640px;
		margin: 0 auto;
		float: none;
	}
	.features-list{
		&.features-list2{
			li{ width: 100%; }
		}
	}
	.product-features .alignleft,
	.product-features .alignright{ margin: 0 0 20px;}
	#footer{
		&.style1{ padding-bottom: 40px;}
	}
	.product-features{
		&.version-iv{
			padding-bottom: 0;
			p{ margin: 0;}
		}
	}
	.brands-area{
		&.pad-tmd{ padding-bottom: 20px !important;}
	}
}

@include media('<phone'){
	.features{
		.sameheight{
			min-height: 1px !important;
			height: auto !important;
		}
	}
	.screen-gallery{ max-width: 480px; }
	#footer{
		min-height: 356px;
		padding-bottom: 47px;
		&.style1{
			min-height: auto;
		}
	}
	.navbar-default{
		&.version-iii,
		&.version-ii{ width: calc(100% - 140px); }
	}
	.testimonials-gallery{
		.slick-prev.slick-arrow{ margin: -35px 0 0 -140px; }
		.slick-next.slick-arrow{ margin: -35px -140px 0 0; }
	}
}

@include media('<xs-phone'){
	.price-col{
		&.version-iii{
			&.sameheight{
				min-height: 1px !important;
				height: auto !important;
			}
		}
	}
	.screen-gallery{ max-width: 320px; }
}

@include media('>=phone' , '<tablet'){
	.price-col{
		width: 50%;
		.col{ width: 100%; }
	}
}

@include media('>=xs-phone' , '<tablet'){
	.features-area{
		.cols-holder{
			.col{ width: 50%; }
		}
	}
	.price-offers{
		&.version-iii,
		&.version-iv{
			.col{ width: 50%; }
		}
	}
	.quotes-blocks{ .col{ width: 50%; } }
}
